body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-title {
  color: #343a40;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 12px;
}

.movie-card-p {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: justify;
}

.movie-card-details {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
  padding: 20px;
  width: 80%;
}

.editar-voltar {
  display: flex;
}

.botao {
  color: orange;
  margin: 20px 0 5px;
  padding-right: 30px;
  text-align: center;
  text-decoration: none;
}
